<h2>Registrarte</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-floating mb-15px">
    <%= f.label :email, class:"d-flex align-items-center fs-13px text-gray-600" %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control h-45px fs-13px" %>
  </div>

  <div class="form-floating mb-15px">
    <%= f.label :password, class:"d-flex align-items-center fs-13px text-gray-600" %><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control h-45px fs-13px" %>
  </div>

  <div class="form-floating mb-15px">
    <%= f.label :password_confirmation, class:"d-flex align-items-center fs-13px text-gray-600" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control h-45px fs-13px" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class:"btn btn-danger d-block h-45px w-100 btn-lg fs-14px"%>
  </div>
<% end %>
<br>
  <div class="mb-40px pb-40px text-center text-dark">
  ¿Ya tienes cuenta? Haz click <%= link_to "Aqui", new_user_session_path %> Para iniciar Sesion
  </div>
<hr class="bg-gray-600 opacity-2" />
<div class="text-gray-600 text-center  mb-0">
  &copy; CURB Reserved 2023
</div>
</form>